<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/index.css">
    <style></style>
    <title>Document</title>
</head>
<body>
    <div class="header">

    </div>
    <div class="body">
        <div class="menu">
            <div class="name">COMPANY NAME</div>
            <div class="menu_element"><img src="/static/css/img/1.svg" class="menu_image" alt=""><div class="menu_text">PORTFOLIO</div></div>
            <div class="menu_element"><img src="/static/css/img/1.svg" class="menu_image" alt=""></div>
            <div class="menu_element"><img src="/static/css/img/1.svg" class="menu_image" alt=""></div>
            <div class="menu_element"><img src="/static/css/img/1.svg" class="menu_image" alt=""></div>
            <div class="menu_element"><img src="/static/css/img/1.svg" class="menu_image" alt=""></div>
            <div class="menu_element"><img src="/static/css/img/1.svg" class="menu_image" alt=""></div>
            
        </div>
    </div>
</body>
</html>